.margem-superior {
    background-color: beige;
}

.cap-logo {
    margin-left: 325%;

}

#card-pergunta {
    background-color: rgb(105, 51, 11);
    color: aliceblue;
}
.corpo{
    background-color: beige;
}


